<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="text-center">
            <div class="dropdown d-inline-block">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Wybierz kategorię wyszukiwania
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" id="city">Miejscowość</a>
                    </li>
                    <li>
                        <a class="dropdown-item" id="street">Ulica</a>     
                    </li>
                    <li>
                        <a class="dropdown-item" id="number">Nr terenu</a>
                    </li>
                    <li>
                        <a class="dropdown-item" id="preacher">Głosiciel</a>
                    </li>
                    <li>
                        <a class="dropdown-item" id="date" href="/territories/dateChanges?date=<%= new Date().toISOString().slice(0, 10) %>">Data pobrania/opracowania</a>
                    </li>
                    <li>
                        <a class="dropdown-item" id="kind">Rodzaj terenu</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/territories/search?taken=Zajęte tereny">Zajęte tereny</a>
                    </li>
                </ul>
            </div>
            <% if(typeof param === 'undefined'){ %>
                <span style="margin: 0 15px;">lub</span>
                <a href="/territories/new" class="btn btn-golden">Dodaj teren</a>
            <% } %>
        </div>
        
            <div id="citySearch">
                <br>
                    <form action="/territories/search" method="get">
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" name="city" value=" <%= typeof param !== 'undefined' ? param : '' %>" placeholder="Wpisz nazwę miejscowości" aria-label="Wpisz nazwę miejscowości" aria-describedby="basic-addon2">
                            <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                            
                        </div>
                    </form>
            </div>

            <div id="streetSearch">
                <br>
                    <form action="/territories/search" method="get">
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" name="street" value=" <%= typeof param !== 'undefined' ? param : '' %>" placeholder="Wpisz nazwę ulicy" aria-label="Wpisz nazwę ulicy" aria-describedby="basic-addon2">
                            
                            <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                            
                        </div>
                    </form>
            </div>

            <div id="numberSearch">
                <br>
                    <form action="/territories/search" method="get">
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" name="number" value="<%= typeof param !== 'undefined' ? param : '' %>" placeholder="Wpisz nr terenu" aria-label="Wpisz nr terenu" aria-describedby="basic-addon2">
                            <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
            </div>
            <div id="preacherSearch">
                <br>
                    <form action="/territories/search" method="get">
                        <div class="input-group mb-3">
                            <select class="form-control" name="preacher" aria-describedby="basic-addon2" style="font-family: 'Montserrat', sans-serif;
                           
                            color: #28a745">
                                <option value="" style="color: black;">Wybierz głosiciela (aktualnie wybrany -  <%= typeof param !== 'undefined' ? param : '' %>)</option>
                                <% for(let i=0; i<preachers.length;i++){ %>
                                    <option value="<%= preachers[i]._id %>" style="color:black"><%= preachers[i].name %></option>
                                <% } %>
                            </select>
                            
                            <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                           
                        </div>
                    </form>
            </div>
            <div id="kindSearch">
                <br>
                    <form action="/territories/search" method="get">
                        <div class="input-group mb-3">
                            <select name="kind" class="form-select">
                                <option>
                                    <%= typeof param !== 'undefined' ? param : '' %>
                                </option>
                                <option value="city">Teren miejski</option>
                                <option value="village">Teren wiejski</option>
                                <option value="market">Teren handlowy</option>
                            </select>
                            <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
            </div>
        
    </div>
    
</div>
<br>