<%- include("../partials/headera") %>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12" id="form">
            <div class="text-center">
                <img src="/logo_tm_website.png" alt="logo">
            </div>
            <div id="form1">
                <div class="text-center">
                    <a href="/preachers">
                        <i class="fas fa-arrow-left"></i>
                        Wróć do strony ze spisem głosicieli
                    </a>
                </div>
                <h1 class="login">Edytuj głosiciela w zborze <%= currentUser.username %></h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                    <form action="/preachers/<%= preacher._id %>?_method=PUT" method="POST" id="form4">
                        
                        <div class="form-floating mb-3">
                       
                            <input type="text" name="preacher[name]" value="<%= preacher.name %>" placeholder="Imię i nazwisko" class="form-control">
                            <label for="number" class="username">
                                Edytuj imię i nazwisko
                                
                            </label>
                            
                        </div>
                        <input type="submit" value="Edytuj głosiciela" class="btn btn-success button btn-green" id="send">
                    </form>
                </div>
                            
            </div>
            
        </div>


<script src="/script.js"></script>
<script>
    document.getElementById("form4").addEventListener("submit", function(){
        document.getElementById("send").setAttribute("disabled", "disabled");
        document.getElementById("send").innerText = `Edytowanie...`;
    })
</script>    
</body>
</html>