<%- include("../partials/header") %>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Głosiciele zboru <%= currentUser.username %>: <%= preachers.length %></h1>
                <div class="text-center">
                    <a href="/preachers/new" class="btn btn-success" style="margin-bottom: 15px;">Dodaj głosiciela</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="/preachers/search" method="get">
                    <div class="input-group mb-3">
                        <input type="search" class="form-control" name="search" placeholder="Wyszukaj głosiciela" aria-describedby="basic-addon2">
                       
                        <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
                        
                    </div>
                </form>
            </div>
        </div>
        <br>
        <% if(preachers.length === 0){ %>
            <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="alert alert-info text-center" role="alert">
                            Nie dodałeś jeszcze głosicieli w zborze <%= currentUser.username %>
                        </div>
                    </div>
                </div>
        <% } else { %>
            <div class="row">
                <% preachers.forEach((preacher) => { %>
                    <div class="col-lg-12">
                        <div class="preacher__info">
                            <div class="info">
                                <p><%= preacher.name %></p>
                                <a href="/territories/search?preacher=<%= preacher._id %>" class="preacher__link">Zobacz tereny głosiciela</a>
                            </div>
                            <div class="preachers-buttons">
                                <a href="/preachers/<%= preacher._id %>/edit" class="btn btn-primary">Edytuj</a>
                                <a href="/preachers/<%= preacher._id %>/delete" class="btn btn-danger">Usuń</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
               
            </div>
        <% } %>
       
    </div>

<%- include("../partials/footer") %>