<%- include("../partials/header") %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Znalezione wolne tereny zboru <%= currentUser.username %> dla parametru <%= param %>: <%= territories.length %>
                </h1>
            </div>
        </div>
        <%- include("../partials/freeSearch") %>
        <% if(territories.length === 0){ %>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <div class="alert alert-info text-center" role="alert">
                        Nie znaleziono wolnych terenów w zborze <%= currentUser.username %> dla parametru <%= param %>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="row">
                <% territories.forEach((territory) => { %>
                    <%- include("../partials/territory", {territory: territory}) %>
                <% }) %>
            </div>
        <% } %>
    </div>      
    <script src="/manageFreeSearch.js"></script>

<%- include("../partials/footer") %>