<%- include("../partials/headera") %>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12" id="form">
            <div class="text-center">
                <img src="/logo_tm_website.png" alt="logo">
            </div>
            <div id="form1">
                <div class="text-center">
                    <a href="/territories" id="back">
                        <i class="fas fa-arrow-left"></i>
                        Wróć do spisu terenów
                    </a>
                </div>
                <h1 class="login">
                    Czy na pewno chcesz usunąć ten teren?
                </h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <div class="card">
                    <div class="card-title text-center" id="name">
                        <br>
                        Karta terenu nr <%= territory.number %>
                    </div>
                        <div class="card-body">
                           
                            <p class="info"><strong>Miejscowość:</strong> <%= territory.city %></p>
                            <% if(typeof territory.street !== 'undefined' && territory.street !== ''){ %>
                                <p class="info"><strong>Ulica:</strong>
                                    <%= territory.street %> 
                                         <% if(typeof territory.beginNumber !== 'undefined'){ %>
                                             <%= territory.beginNumber %> 
                                             <% if(typeof territory.endNumber !== 'undefined'){ %>
                                                 - <%= territory.endNumber %>
                                             <% } %>
                                         <% } %>
                                     
                                 </p>
                            <% } %>
                            
                            <% if(typeof territory.description !== 'undefined' && territory.description !== ''){ %>
                                <p class="info"><strong>Opis:</strong> <%= territory.description %></p>
                            <% } %>
                            <% if(typeof territory.leaflet !== 'undefined'){ %>
                                <p class="info"><strong>Którą ulotkę:</strong> <%= territory.leaflet.title %></p></p>
                            <% } %>
                           
                            <p class="info"><strong>Ostatnio pracowane:</strong> <%= territory.lastWorked %></p>
                            
                            <% if(typeof territory.employee !== 'undefined' && territory.employee != null){ %>
                                <p class="info"><strong>Pracownik:</strong> <%= territory.employee.name %></p>
                                <p class="info"><strong>Pobrany:</strong> <%= territory.taken %></p>
                                <p class="info"><strong><%= territory.employee.name %> ma ten teren
                                    <% if(Math.round(Math.abs(new Date() - new Date(territory.taken)) / 86400000) < 90){ %>
                                        <%= Math.round(Math.abs(new Date() - new Date(territory.taken)) / 86400000) %> dni
                                    <% } else if(Math.round(Math.abs(new Date() - new Date(territory.taken)) / 86400000) < 120){ %>
                                        <span class="text-primary"><%= Math.round(Math.abs(new Date() - new Date(territory.taken)) / 86400000) %></span> dni
                                    <% } else if(Math.round(Math.abs(new Date() - new Date(territory.taken)) / 86400000) >= 120){ %>
                                        <span class="text-danger"><%= Math.round(Math.abs(new Date() - new Date(territory.taken)) / 86400000) %></span> dni
                                        <br>
                                        <br>
                                        <span class="text-danger"><strong>Przypomnij <%= territory.employee.name %> o oddaniu terenu</strong> </span>
                                    <% } %>
                                </strong></p>
                            <% } else { %>
                                <p class="info"><strong>Teren oznaczony jako <span class="text-success">wolny</span></strong> </p>
                                <p class="info"><strong>Teren nie był opracowywany od 
                                        <% if(Math.round(Math.abs(new Date() - new Date(territory.lastWorked)) / 86400000) < 31){ %>
                                            <%= Math.round(Math.abs(new Date() - new Date(territory.lastWorked)) / 86400000) %> dni
                                        <% } else if(Math.round(Math.abs(new Date() - new Date(territory.lastWorked)) / 86400000) < 62){ %>
                                            <span class="text-primary"><%= Math.round(Math.abs(new Date() - new Date(territory.lastWorked)) / 86400000) %></span> dni
                                        <% } else if(Math.round(Math.abs(new Date() - new Date(territory.lastWorked)) / 86400000) < 93){ %>
                                            <span class="text-orange" style="color: #fd7e14;"><%= Math.round(Math.abs(new Date() - new Date(territory.lastWorked)) / 86400000) %></span> dni
                                        <% } else if(Math.round(Math.abs(new Date() - new Date(territory.lastWorked)) / 86400000) >= 124){ %>
                                            <span class="text-danger"><%= Math.round(Math.abs(new Date() - new Date(territory.lastWorked)) / 86400000) %></span> dni
                                        <% } %>
                                </strong></p>
                            <% } %>
                            
                            
                        </div>
                    </div>
                </div>
           
                    
                
                <form action="/territories/<%= territory._id %>?_method=DELETE" method="post">
                   
                    <input required type="submit" value="Tak" class="btn button btn-danger btn-golden">
                   
                </form>
                <a href="/territories" class="btn button btn-dark btn-green">
                    Nie
                </a>
            </div>
           
        </div>
        
    </div>

</body>
</html>