
<%- include ("../partials/headera") %> 
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12" id="form">
            <div class="text-center">
                <img src="/logo_tm_website.png" alt="logo">
            </div>
            <div id="form1">
                <div class="text-center">
                    <a href="/territories/available">
                        <i class="fas fa-arrow-left"></i>
                        Wróć do strony z wolnymi terenami
                    </a>
                </div>
                <h1 class="login">Dodaj teren dla zboru <%= currentUser.username %></h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                    
                        <form action="/territories" method="post" id="form4">
                            
                            <div class="form-floating mb-3">
                       
                                <input type="number" name="number" id="territoryNumber" autocomplete="off" placeholder="Wpisz nr terenu" class="form-control">
                                <label for="territoryNumber" class="username">
                                   Nr terenu
                                    
                                </label>
                                
                            </div>
                            
                            <div class="form-floating mb-3">
                       
                                <select name="kind" id="kind" class="form-control">
                                    <option value="">Rodzaj terenu</option>
                                    <option value="city">Teren miejski</option>
                                    <option value="village">Teren wiejski</option>
                                    <option value="market">Teren handlowy</option>
                                    
                                </select>
                                <label for="preacher" class="username">
                                    Wybierz rodzaj terenu
                                    
                                </label>
                                
                            </div>
                           
                            <div class="form-floating mb-3">
                       
                                <input type="text" name="city" id="city" autocomplete="off" placeholder="Miejscowość" class="form-control" required>
                                <label for="city" class="username" id="cityLabel">
                                    Miejscowość <span class="text-danger" style="font-size: 13px;">*wymagane</span>
                                    
                                </label>
                                
                            </div>
                           
                           
                            <div class="form-floating mb-3" id="streetDiv">
                       
                                <input type="text" name="street" id="street" autocomplete="off" placeholder="Ulica" class="form-control">
                                <label for="street" class="username" id="streetLabel">
                                   Ulica
                                    
                                </label>
                                
                            </div>
                            
                           
                            <div class="form-floating mb-3" id="beginNumberDiv">
                       
                                <input type="number" name="beginNumber" id="beginNumber" autocomplete="off" placeholder="Numer początkowy" class="form-control">
                                <label for="beginNumber" class="username">
                                    Numer początkowy
                                    
                                </label>
                                
                            </div>
                            <div class="form-floating mb-3" id="endNumberDiv">
                       
                                <input type="number" name="endNumber" id="endNumber" autocomplete="off" placeholder="Numer końcowy" class="form-control">
                                <label for="endNumber" class="username">
                                    Numer końcowy
                                    
                                </label>
                                
                            </div>
                            <div class="form-floating mb-3" id="locationDiv">
                       
                                <input type="text" name="location" id="location" autocomplete="off" placeholder="location" class="form-control" required>
                                <label for="location" class="username" id="locationLabel">
                                   Pełna lokalizacja np. Mechaniczna 30, Głogów
                                    
                                </label>
                                
                            </div>
                            
                            <div class="form-floating mb-3">
                       
                                <input type="date" name="lastP" id="lastP" class="form-control" required>
                                <label for="lastP" class="username">
                                   Ostatnio pracowane <span class="text-danger" style="font-size: 13px;">*wymagane</span>
                                    
                                </label>
                                
                            </div>
                            
                            <div class="form-floating mb-3">
                       
                                <select name="preacher" id="preacher" class="form-control">
                                    <option value="">Wybierz głosiciela</option>
                                    <option value="">Wolny teren</option>

                                    <% for(let i=0; i<preachers.length;i++){ %>
                                        <option value="<%= preachers[i]._id %>"><%= preachers[i].name %></option>
                                    <% } %>
                                </select>
                                <label for="preacher" class="username">
                                    Wybierz głosiciela
                                    
                                </label>
                                
                            </div>
                            
                            <div class="form-floating mb-3">
                       
                                <input type="date" name="taken" id="taken" class="form-control">
                                <label for="taken" class="username">
                                    Pobrany
                                    
                                </label>
                                
                            </div>
                            
                                                        
                            <div class="form-floating mb-3">
                       
                                <textarea name="description" id="description" placeholder="Opis terenu" class="form-control"></textarea>
                                <label for="description" class="username">
                                    Opis terenu
                                    
                                </label>
                                
                            </div>

                            <label class="username">
                                Czy jest fizyczna karta terenu?
                                
                            </label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="isPhysicalCard" value="true" id="flexRadioDisabled">
                                <label class="form-check-label" for="flexRadioDisabled">
                                  Tak
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="isPhysicalCard" value="false" id="flexRadioCheckedDisabled">
                                <label class="form-check-label" for="flexRadioCheckedDisabled">
                                  Nie
                                </label>
                              </div>
                            <input type="submit" value="Dodaj teren" class="btn btn-success button btn-green" id="send">
                        </form>
                    </div>
                            
                </div>
                
            </div>
   
<script src="/manageKindOfTerritories.js"></script>
<script>
    document.getElementById("form4").addEventListener("submit", function(){
        document.getElementById("send").setAttribute("disabled", "disabled");
        document.getElementById("send").innerText = `Dodawanie...`;
    })
</script>    
</body>
</html>