<%- include("../partials/header") %>
<div class="container">
    <div class="row justify-content-center">
        <%- include("../partials/territory", {territory: territory, show: '', preachers}) %>
    </div>
</div>

<script>
    function initMap() {
      var lat = parseFloat(document.getElementById("lat").innerText);
      var lng = parseFloat(document.getElementById("lng").innerText);
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: center,
          scrollwheel: false
      });
      var contactString = `
        <strong><%= territory.number %><br />
            <%= territory.street %> <%= territory.beginNumber %> - <%= territory.endNumber %></strong>
      `
      var infowindow = new google.maps.InfoWindow({
        contact: contactString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKvmIASZjDfZNXZZn2fa4pGvR6T3cQTcA&callback=initMap"></script>

<%- include("../partials/footer") %>