<%- include("../partials/headera") %>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12" id="form">
            <div id="form1">
                <div>
                    <h1 class="text-center" class="appTitle"><i class="fas fa-map-marked-alt fa-3x"></i> <br> Territory Manager</h1>
                    <h4 class="text-center" class="appDescription">I zarządzanie terenami staje się o wiele prostsze</h4>
                </div>
                <h1 class="login">Zweryfikuj konto w Territory Manager</h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <% if(typeof user !== 'undefined'){ %>
                    <form action="/congregations/<%= user._id %>/verification" method="post" id="form4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="code" id="code" placeholder="123523" aria-label="Kod weryfikacyjny" aria-describedby="basic-addon1" required>
                            <label for="code" class="username">
                                Podaj kod weryfikacyjny wysłany na adres email
                                
                            </label>
                            
                        </div>  
                        <input type="submit" value="Zweryfikuj konto" class="btn button btn-green" id="send">
                    </form>
                    <form action="/congregations/<%= user._id %>/resend/verification" method="post">
                        <input type="submit" value="Wyślij kod ponownie" class="btn button btn-golden">
                    </form>
                <% } else { %>
                    <form action="/congregations/<%= user_id %>/resend/verification" method="post">
                        <input type="submit" value="Wyślij kod ponownie" class="btn button btn-golden">
                    </form>
                <% } %>
                
            </div>
           
        </div>
        
    </div>
<script>
    document.getElementById("form4").addEventListener("submit", () => {
        document.getElementById("send").setAttribute("disabled", "disabled");
        document.getElementById("send").value = "Weryfikowanie...";
    })
</script>
</body>
</html>